.ic
  &--stars
    &--4
      background-image url(../img/ic-stars-4.png)
      background-size cover
      
  &--search
    background-image url(../img/ic-search.png)
    background-size cover
  
  &--menu
    background-image url(../img/ic-main-menu.png)
    &--search
      background-position -4px 0
      width 32px
      height 37px
    &--share
      background-position -35px 0
      width 44px
      height 36px
    &--selected
      background-position -80px 0
      width 44px
      height 36px
    &--msg
      background-position -127px 0
      width 38px
      height 37px
    &--me
      background-position 37px 0
      width 34px
      height 36px


  

      