/* get color name from http://chir.ag/projects/name-that-color/ */
$col-white = #fff
$col-black = #000
$col-royal-blue = #317FDF
$col-transparent-white = rgba(255, 255, 255, .7)
$col-flamenco = #FF8605
$col-gray = #8c8c8c
$col-persian-green = #00a5a5
$col-tundora = #484848