.m-display-projects
  .txt--h1
    color $col-tundora
  &--item
    &--name
      text-overflow ellipsis
      overflow hidden
      white-space nowrap
      font-size 17px
    &--price
      color $col-flamenco
    &--price
    &--days
      font-size 13px
    &--comments
      font-size 12px
  &--more
    color $col-persian-green
    font-size 15px
  .col
    box-sizing border-box