.c-categories
  display flex
  justify-content space-between
  &--btn
    background $col-persian-green
    width 18%
    color white
    text-align center
    border-radius 5px
    padding 10px 0
    font-size 16px
