.c-categories
  // display flex
  justify-content space-between
  &--btn
    background $col-white
    border 1px solid $col-silver
    color $col-black
    // width 18%
    text-align center
    border-radius 5px
    padding 10px 0
    font-size 16px
    margin-right 2%
