.c-chat-detail
  background-color $col-porcelain
  height 100%
  .c-header
    background-color $col-white
  &--group
    background-color $col-white
    padding 20px 0
    li
      list-style-type none
      width 16%
      margin 0 2%
      a
        display block
      img
        display block
        margin-bottom 5px
      span
        font-size 12px
  .c-list
    background-color $col-white
    .title
      font-size 18px
    