.c-header
  position fixed
  width 100%
  top 0
  left 0
  background $col-white
  z-index 1
  span
    color $col-white
  &--other
    display inline-block
    &--share
    &--fav
      display inline-block
    &--notif
      span
        font-size 10px
  &.has-shadow
    box-shadow 1px 1px 5px rgba(130, 130, 130, 0.3)
  &--title
    text-align center
    position absolute
    width 70%
    left 15%
    top 32%
    span
      font-size 22px