.c-reservation
  &__link
    display block
    position relative
    margin 20px
    img
      width 100%
    span
      position absolute
      top 50%
      left 30px
      transform translateY(-50%)
      color $col-white
  &__order-detail
    padding 0 20px
    &__top
      img
        width 120px
        vertical-align middle
      &__content
        width calc(100% - 120px)
        padding 0 10px
        display inline-block
        vertical-align middle
        .price
          color 
      .special-offer
        ul
          li
            list-style-type none
            background-color $col-cornflower-blue
            border 1px solid $col-persian-green
            display inline-block
            vertical-align middle
            font-size 8px
            padding 3px 6px
            border-top-left-radius 5px
            border-bottom-right-radius 5px
            text-align center
            margin-right 5px
            margin-bottom 5px
    &__section
      margin 20px 0
      .title
        font-size 18px
        font-weight bold
        margin-bottom 10px
      .select-style-1
      .select-style-2
        
        background-color $col-cornflower-blue
        border-radius 4px
        padding 5px 10px
      .select-style-1
        color $col-persian-green
      .select-style-2
        color $col-black
      
      .style-top
        margin 5px 0
        padding 5px 10px
      .js-checkbox.active
        .style-top
          background-color $col-cornflower-blue
          border-radius 4px
          color $col-persian-green
      .style-bottom
        font-size 12px
        margin-bottom 10px
        padding 5px 10px
      ul
        display flex
        flex-wrap wrap
        justify-content space-between
      li
        list-style-type none
        width 50%
        vertical-align middle
        text-align left
        margin-bottom 20px
        text-align center
        padding 0
        .list-content
          display block
          border-radius 5px
          padding 5px 10px
          font-size 12px
          
        &.active
          background-color $col-cornflower-blue
          border-radius 4px
          color $col-persian-green
          .list-content
            background-color $col-cornflower-blue
            position relative
            padding-right 15px
            &:after
              content ""
              background url(../img/ic-selected.png)
              background-size 100%
              background-position center
              background-repeat no-repeat
              display block
              position absolute
              bottom 0
              right 0
              width 10px
              height 9px
       
      .language-list
        
        padding 5px 0
        margin 2px 0
      
        &.active
          background-color transparent !important
          .list-content
            display inline-block
            border-radius 5px
            padding 5px 10px
            font-size 12px
          // .list-ontent
          //   background-color $col-cornflower-blue
          //   position relative
          //   padding-right 15px
          //   &:after
          //     content ""
          //     background url(../img/ic-selected.png)
          //     background-size 100%
          //     background-position center
          //     background-repeat no-repeat
          //     display block
          //     position absolute
          //     bottom 0
          //     right 0
          //     width 10px
          //     height 9px
        
        
        