.c-search
  padding 15px 0
  box-shadow 1px 1px 10px rgba(130, 130, 130, 0.3)
  &--icon
    width 20px
    height 20px
    float left
    margin 0 10px 0 20px
  input
    border none
    line-height 20px
    width calc(100% - 60px)
    font-size 20px
    outline none
    