.c-search
  
  // box-shadow 1px 1px 10px rgba(130, 130, 130, 0.3)
  // background $col-wild-sand
  &--icon
    width 20px
    height 20px
    float left
    margin 0 10px 0 20px
  &--form
    &--input
      padding 15px 0
      border-radius 10px
  input
    border none
    line-height 20px
    width calc(100% - 60px)
    font-size 20px
    outline none
    background inherit
    