.c-sign-in
  &--bg
    background url(../img/bg-sign-in.png)
    background-size cover
    background-repeat no-repeat
    background-position center
    height 100%
    width 100%
    position relative
  h1
    font-size 44px
    color $col-tundora
    font-family $font-apple
  h2
    font-size 22px
    color $col-tundora