mixin banner()
  .c-banner.js-banner
    .c-banner-item
      img(src=paths.img + 'demo-home-banner.jpg')
    .c-banner-item
      img(src=paths.img + 'demo-home-banner.jpg')
    .c-banner-item
      img(src=paths.img + 'demo-home-banner.jpg')
