mixin menu()
  footer.c-menu.aui-bar.aui-bar-tab
    .aui-bar-tab-item.aui-active(tapmode)
      i.ic--menu.ic--menu--home
      .aui-bar-tab-label 首页
    .aui-bar-tab-item(tapmode)
      i.ic--menu.ic--menu--service
      .aui-bar-tab-label 产业服务
    a.aui-bar-tab-item(tapmode)(href="./ip.html")
      i.ic--menu.ic--menu--ip
      .aui-bar-tab-label IP评估
    .aui-bar-tab-item(tapmode)
      i.ic--menu.ic--menu--user
      .aui-bar-tab-label 个人中心

