//- 公司发票信息添加页66-2
extends ../partials/_template


block content
  .c-invoice
    .c-header.l-columns.has-shadow.l-v--m.l-pad--20.pos-relative
      .c-header--title
        span.txt--black 删除成员
      .col.c-header--back.l-w--50p
        a(href="#") 取消
      .col.c-header--other.l-w--50p.txt--r
        a.js-submit.txt--persian-green(href="javascript:void(0);") 完成




