//- 资源列表
extends ../partials/_template
include ../mixins/_display-projects
include ../mixins/_menu
include ../mixins/_search-bar

block content
  .c-content.c-content--bottom.has-menu.c-project-list(data-js-project-list)
    +search-bar(0)

    .c-project-list__filters
      .filter.filter-1
        a.filter-btn(href="javascript:void(0);")
          span 综合
        .filter__dropdown
          ul
            li
              a(href="javascript:void(0);") 选项1
            li
              a(href="javascript:void(0);") 选项2
            li
              a(href="javascript:void(0);") 选项3
      .filter.filter-2
        a.filter-btn(href="javascript:void(0);")
          span 销量优先
      .filter.filter-3
        a.filter-btn(href="javascript:void(0);")
          span 筛选条件

    .l-columns.l-mgn--t-20
      .col.l-w--75p 
        p.c-project-list--note 仅剩余6%的优质资源符合条件并可接受预定，建议您尽快预订！
      .col.l-w--25p
        .ic--reservation
    .l-mgn--t-20
      +display-projects(list_display1)

    +menu(0)

