extends ../partials/_template
//- include ../mixins/_menu
//- include ../mixins/_banner
include ../mixins/_display-projects
include ../mixins/_menu
include ../mixins/_search-bar

block content
  .c-content
    +search-bar(1)

    

